.block {
  opacity: 0; /* блок изначально прозрачный */
  transition: opacity 2s; /* анимация перехода прозрачности за 2 секунды */
}

.block.show {
  opacity: 1; /* когда добавится класс show, блок станет видимым */
}
